@model Person

<h3>Update Person</h3>

<a href="/Person/DisplayAll" class="my-2 btn btn-primary">Display All</a>

<form method="POST" asp-action="Edit">
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3"> 
        <label class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea asp-for="Address" class="form-control" rows="3"></textarea>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert alert-secondary" role="alert">
           @TempData["msg"]
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
